<a href="https://colab.research.google.com/github/givemetarte/cosadama/blob/master/week3_code_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Week3 코드 리뷰 
작성자: 박하람  
작성일: 2020-02-03

![But you need to made it.](https://www.delafeld.it/assets/img/no-time-for-that.jpg)

## 문제 1번 

문제가 그렇게 어렵진 않았죠?! 다들 잘 푸신 것 같네요. 의도한 것은 while문, if문을 사용해서 절댓값으로 잘 바꿔줄 수 있는지를 판단하려고 했습니다. GMS님과 펜섭님은 배운 것을 토대로 잘 작성해주셨어요.

#### sys 모듈은 주의해서 사용할 것! 

- 성지현님과 유동호님은 sys 모듈을 사용해 while문 탈출을 시도했어요. 하지만 이런 탈출은 좋은 방법이 아니랍니다. 제일 중요한 이유는 **sys.exit()를 사용하게되면, 파이썬 프로그램이 종료가 되기 때문이에요.** 단순히 문제를 풀기 위해서라면 그냥 잘 작동하니 문제는 없어보이지만, 실제 프로그램을 작성할 때에는 오류가 발생해도 중대한 문제가 아니라면 프로그램이 계속 돌아가야 합니다.(수백개의 코드 줄로 되어 있으니까요...!) 하지만 이렇게 써버리면 프로그램은 중단되어 버리죠. 그렇기 때문에 **while문 내에서 break로 탈출하는 것이 더 좋은 방법입니다!**

In [0]:
# 문제 1번 - 성지현, 유동호
import sys
num = int(input('정수 하나를 입력하세요.'))
while num!=0:
    if num>0:
        print(num)
        num = int(input('정수 하나를 입력하세요.'))
    else:
        print(num+(num*-2))
        num = int(input('정수 하나를 입력하세요.'))
sys.exit()

정수 하나를 입력하세요.3
3
정수 하나를 입력하세요.0

SystemExit: ignored

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

#### 1번 문제 VIP: 김보겸님! 

- 김보겸님의 코드는 굉장히 깔끔하죠? 단 5줄로 코드를 완성할 수 있습니다. 물론 abs()는 우리가 배우지 않은 함수이지만, **abs()는 절댓값으로 만들어주는 함수**입니다. if/else문을 사용하는 대신, abs()로 절댓값을 만들어주어 더 코드를 깔끔하게 써주었네요!

In [0]:
#문제 1번 - 김보겸
my_number = float(input('숫자를 입력하세요(0을 입력하면 프로그램이 종료됩니다) : '))
while my_number != 0 :
    print(abs(my_number))
    my_number = float(input('숫자를 입력하세요 : '))
print('프로그램 종료')

숫자를 입력하세요(0을 입력하면 프로그램이 종료됩니다) : 3.5
3.5
숫자를 입력하세요 : -2.45
2.45
숫자를 입력하세요 : 0
프로그램 종료

## 문제 2번 

이 문제 역시 리스트와 while문, if문을 이용하면 쉽게 풀 수 있는 문제였습니다.

- 성지현님, GMS님의 코드를 수정하면 조금 더 깔끔한 코드를 작성할 수 있습니다. 두 분 다 if와 else문에 동일한 input 함수를 작성해주셨는데요, **아래처럼 while 함수에 최종적으로 넣어주면 중복을 막을 수 있습니다.**

- 참고로, 성지현님과 유동호님께서는 변수 이름을 한글로 작성해주셨는데요! 한글 변수 이름은 작성가능하나, 영어를 사용하는 것이 더 better! 필수는 아니지만 영어를 사용하는 것이 조금 더 가독성이 높다고 할까요...? (한국인이 아닌 사람들에게!)

In [0]:
# 문제 2번 - 성지현
dong=['흑석동', '사당동', '상도동', '노량진동', '규동']
동=input('동을 입력하세요.')
while 동!='end':
    if 동 in dong:
        print(dong.index(동)+1, '번째 동입니다.')
    else:
        dong.append(동)
        print(dong.index(동)+1, '번째 동으로 등록합니다.')
    동=input('동을 입력하세요.')
print('종료합니다.')

동을 입력하세요.흑석동
1 번째 동입니다.
동을 입력하세요.상도동
3 번째 동입니다.
동을 입력하세요.연희동
6 번째 동으로 등록합니다.
동을 입력하세요.연희동
6 번째 동입니다.
동을 입력하세요.end
종료합니다.

- 김보겸님의 코드에도 다소 비효율적인 코드가 있어요. 굳이 elif문을 사용하지 않아도 됩니다. my_dong이 dong 안에 들어있냐 아니냐라는 두가지의 경우이니, if/else만 사용하면 됩니다. 그래서 그냥 else만 적어주면 더 간단!

In [0]:
#문제 2번 - 김보겸
dong = ['흑석동', '사당동', '상도동', '노량진동', '규동']
my_dong = input('동을 입력하세요 : ')
while my_dong != '그만 입력할래요' :
    if my_dong in dong :
        print(dong.index(my_dong) + 1, '번째 동입니다.')
    else:
    # 원래 코드: elif my_dong not in dong :
        dong.append(my_dong)
        print(dong.index(my_dong) +1, '번째 동으로 등록합니다.')
    my_dong = input('동을 입력하세요 : ')

동을 입력하세요 : 흑석동
1 번째 동입니다.
동을 입력하세요 : 사당동
2 번째 동입니다.
동을 입력하세요 : 연희동
6 번째 동으로 등록합니다.
동을 입력하세요 : 연희동
6 번째 동입니다.
동을 입력하세요 : 그만 입력할래요

## 문제 3번 

딕셔너리를 잘 사용할 수 있는지 알아보기 위한 것이었는데요! 핵심은 딕셔너리의 key들만 뽑아서 list나 tuple을 만들 수 있는지 확인하려고 했습니다.

아래가 제가 생각한 모범답안입니다. 생각보다 이 문제가 단순하지는 않았던 것 같습니다. 

- 펜섭님과 몇몇 분들은 딕셔너리의 메뉴를 구할 때 get()을 사용하셨더라구요. 굳이 get을 사용할 필요 없이 아주 간단하게 **dictionary_name[dictionary_key]를 입력하면 value값을 구할 수 있습니다.** dictionary 값을 추가하는 것도 이와 같습니다. 

- menu_list는 메뉴가 변동할 일이 없기 때문에 키만 뽑아 tuple로 바꿔주었습니다. 변동할 일이 있다면 list로 바꿔주는 것도 좋은 방법입니다.

In [0]:
menu = {'noodle' : 500, 'ham' : 200, 'egg':200, 'spaghetti' : 900}
menu_list = tuple(menu.keys())
order = input('what do you want? ')

while order != '끝' :
    if order in menu_list :
        print(menu[order],"원 입니다.")
    else:
        print("그런 메뉴는 없습니다.")
    order = input('what do you want? ')

what do you want? noodle
500 원 입니다.
what do you want? egg
200 원 입니다.
what do you want? spahetti
그런 메뉴는 없습니다.
what do you want? spaghetti
900 원 입니다.
what do you want? 끝

## 문제 4번 

코드들을 보니 여러분들의 고민 흔적이 '내림차순'과 '결과값 표시'에서 볼 수 있더라구요. 제가 기대한 답안은 아래와 같습니다! 

* 오름차순 정렬 방법은 sort에 옵션값을 주면 됩니다. list.sort(reverse = True)로 하면, 오름차순이 아닌 내림차순으로 정렬할 수 있습니다. 유동호님, 성지현님, GMS님께서는 이와 같은 방식을 잘 사용해주셨습니다.

* 결과를 리스트 밖으로 하나씩 표시하는 방식은 for문을 사용하면 됩니다. 김보겸님께서는 이와 같은 방식으로 잘 작성해주셨습니다.

In [0]:
list = []
number = int(input('데이터를 입력하세요. '))

while number != 0: 
  list.append(number)
  number = int(input('데이터를 입력하세요. '))

list.sort(reverse = True) 
print('결과: ', end='')
for i in list: 
  print(i, end=' ')
print('(', len(list), '개)')

데이터를 입력하세요. 100
데이터를 입력하세요. 5
데이터를 입력하세요. 29
데이터를 입력하세요. 37
데이터를 입력하세요. 42
데이터를 입력하세요. 92
데이터를 입력하세요. 0
결과: 100 92 42 37 29 5 ( 6 개)

* 내림차순 방식을 GMS님께서는 또 다른 방식으로 제시해주셨습니다. 앞에서 배운 인덱스를 사용하여 거꾸로 사용하는 방식을 제시해주셨는데요! **data[:-1]**을 사용해 거꾸로 표시되게 잘 해주셨습니다.

In [0]:
# 문제 4번 - GMS
data = []
n = int(input('데이터를 입력하세요(입력을 마치려면 0을 입력하세요).'))
while n != 0 :
    data.append(n)
    n = int(input(''))
data.sort(reverse = True)
print('결과:', data[: -1], '(', end = '')
print(len(data), end = '')
print('개)')

데이터를 입력하세요(입력을 마치려면 0을 입력하세요).38
29
40
100
5
49
0
결과: [100, 49, 40, 38, 29] (6개)

## 문제 5번 

이 문제가 여러분들을 까다롭게 하지 않았을까 예상했는데요. 여러분들이 플레이어 이름을 본인의 취향대로 해주셔서 보면서 참 재미있었습니다ㅎㅎ 리뷰하면서 좀 더 간단한 코드, 깔끔한 코드를 작성해주신 우리 멘토 문희님의 코드를 가져와봤습니다.

* 우선 def는 함수를 정의하는 것인데요, 후에 배울테니 아이디어만 생각해보세요. def는 우리가 직접 함수를 만들어 반복적으로 사용할 수 있어요. 다만 함수 자체를 정의하는 것으로 함수가 실행되는게 아니니, 아래의 **game()**을 적어주어 함수가 실행되도록 해야 합니다.

* 라운드 횟수를 처음부터 0으로 설정하여 점차 **round += 1**로 올려주면, 정확한 라운드 값이 나옵니다. 

* while 문의 탈출조건도 굉장히 깔끔하죠?

In [0]:
# 문제 5번 - 김문희
def game():
	import random
	round = 0
	p1_score = 0
	p2_score = 0
	p1 = input("1 플레이어의 이름은?")
	p2 = input("2 플레이어의 이름은?")
	while p1_score < 30 and p2_score <30:
			round = round + 1
			p1_dice = random.randint(1,6)
			p2_dice = random.randint(1,6)
			p1_score = p1_score + p1_dice
			p2_score = p2_score + p2_dice
			print(round,"라운드:",p1,"은",p1_dice,"가 나왔습니다.","현재 위치",p1_score)
			print(p2,"은",p2_dice,"가 나왔습니다.","현재 위치",p2_score)
	if p1_score >= 30:
		print(round,"라운드만에",p1,"이 이겼습니다.")
	else:
		print(round,"라운드만에",p2,"이 이겼습니다.")

game()

1 플레이어의 이름은?haram
2 플레이어의 이름은?lunar
1 라운드: haram 은 5 가 나왔습니다. 현재 위치 5
lunar 은 1 가 나왔습니다. 현재 위치 1
2 라운드: haram 은 6 가 나왔습니다. 현재 위치 11
lunar 은 6 가 나왔습니다. 현재 위치 7
3 라운드: haram 은 3 가 나왔습니다. 현재 위치 14
lunar 은 2 가 나왔습니다. 현재 위치 9
4 라운드: haram 은 3 가 나왔습니다. 현재 위치 17
lunar 은 3 가 나왔습니다. 현재 위치 12
5 라운드: haram 은 5 가 나왔습니다. 현재 위치 22
lunar 은 3 가 나왔습니다. 현재 위치 15
6 라운드: haram 은 5 가 나왔습니다. 현재 위치 27
lunar 은 5 가 나왔습니다. 현재 위치 20
7 라운드: haram 은 1 가 나왔습니다. 현재 위치 28
lunar 은 3 가 나왔습니다. 현재 위치 23
8 라운드: haram 은 3 가 나왔습니다. 현재 위치 31
lunar 은 1 가 나왔습니다. 현재 위치 24
8 라운드만에 haram 이 이겼습니다.